<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="helloBean" class="org.elearning.portfolio.bean.FirstBean">
    </bean>

    <!-- Initialization for data source -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:./target/portfolio-db"/>
        <property name="username" value="sa"/>
        <property name="password" value="sa"/>
    </bean>

    <!-- Definition for UserDAOImpl bean -->
    <bean id="userDAOImpl"
          class="org.elearning.portfolio.user.UserDAOImpl">
        <property name="dataSource"  ref="dataSource" />
    </bean>
    <!-- Definition for MessageDAOImpl bean -->
    <bean id="messageDAOImpl"
          class="org.elearning.portfolio.message.MessageDAOImpl">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <bean id="userService" class="org.elearning.portfolio.services.UserService">
        <constructor-arg ref="userDAOImpl" />
    </bean>



</beans>